<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>URL Shortener</title>
  <meta name="description" content="Awesome URL Shortener">
</head>

<body>
  <h1>URL Shortener</h1>
  <form action="{% url 'url_shortener:create' %}" method="post">
      <input type="text" name="origin_url" id="origin_url" placeholder="URL to short" />
    <input type="button" onclick="generateUrl()" value="Generate short URL!">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      function generateUrl() {
        axios({
          method: 'post',
          url: '/shortened_urls/',
          headers: {
            'X-CSRFToken': "{{ csrf_token }}"
          },
          data: {
            origin_url: document.getElementById("origin_url").value
          },
        }).then(response => {
          if (response.data.alias) {
            window.location.href = '/' + response.data.alias + '/detail/';
          } else {
            if (response.data.origin_url && Array.isArray(response.data.origin_url )) {
              for (let i=0;i<response.data.origin_url.length;i++) {
                alert(response.data.origin_url[i]);
              }
            }
          }
        }).catch(error => {
          alert(error);
        });
      }
    </script>
</body>
</html>